@media screen and (min-width: 768px) {
.container-fluid{
         display: flex;
         justify-content: center;
         
    
  }
.hotadds{
     width: 95vw;
  }

.add-p{
     font-size: 1rem;
}

.add-img{
  width: 250px;
  height: 200px;
}
  .hotadds >h5{
    padding-left: 85px;
  }
 .body{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
 .input-group-text{
      display: none;
 }

  .add-heading{
    font-size: 1.5rem;

  }

.hotadds{
     width: 85vw;
  }

  .body{
      grid-template-columns: repeat(4, 1fr);
  }
}
