@media screen and (min-width: 768px) {
  .container-fluid{
         display: flex;
         justify-content: center;
    
  }

  #search-input{
      border-top: 0px solid;
      border-bottom: 0px solid;
      border-left: 3px solid var(--pink);
     border-right: 4px solid var(--pink);
      outline: none;

}
 

  
}

@media screen and (min-width: 320px) {
 .input-group-text{
      display: none;
 }

}
