/* 
font-family: acumin-pro, sans-serif;
font-weight: 700;
font-style: normal;

Acumin Pro Bold Italic
font-family: acumin-pro, sans-serif;
font-weight: 700;
font-style: italic;

Acumin Pro Italic
font-family: acumin-pro, sans-serif;
font-weight: 400;
font-style: italic;


Acumin Pro Regular
font-family: acumin-pro, sans-serif;
font-weight: 400;
font-style: normal; */

/* Global settigs */
:root{
     --pink: #D35266;
     --gray: #888888;
     --dark: #383838;
     --white:#fff;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-decoration: none;
} 

.button-pink{
     padding: 0.5rem;
     background: var(--pink);
     outline: none;
     color: var(--white);
     text-decoration: none;
     border-radius: 2px;
     transition: all 0.3s ease;

}

.button-pink:hover{
     background: var(--white);
     color: var(--pink);
}



/* Navbar */

.navbar{
     padding: 0.2rem 2rem;
}

.navbar-nav > li{
  padding-left:2rem;
  padding-right:2rem;
}

.navbar-nav > li > a >i{
  padding-right:0.5rem;

}

#navbarNav > ul > li > a:hover{
  color: var(--pink);
}

/* Search Section */

.search{
     height: auto;

     background: var(--pink);
     padding: 30px;

     
}



.dropdown-toggle{
      border-right: 5px solid var(--pink);
}

  #search-input{
      border:none 
  }